In [1]:
import pandas as pd
import numpy as np
import pprint
import json
from pandas.io.json import json_normalize
#import flat_table

In [3]:
data = pd.read_json('./frames/frames.json')
df = pd.DataFrame(data)
df.head()

,user_id,turns,wizard_id,id,labels
0,U22HTHYNP,[{'text': 'I'd like to book a trip to Atlantis...,U21DKG18C,e2c0fc6c-2134-4891-8353-ef16d8412c9a,"{'userSurveyRating': 4.0, 'wizardSurveyTaskSuc..."
1,U21E41CQP,"[{'text': 'Hello, I am looking to book a vacat...",U21DMV0KA,4a3bfa39-2c22-42c8-8694-32b4e34415e9,"{'userSurveyRating': 3.0, 'wizardSurveyTaskSuc..."
2,U21RP4FCY,[{'text': 'Hello there i am looking to go on a...,U21E0179B,6e67ed28-e94c-4fab-96b6-68569a92682f,"{'userSurveyRating': 2.0, 'wizardSurveyTaskSuc..."
3,U22HTHYNP,[{'text': 'Hi I'd like to go to Caprica from B...,U21DKG18C,5ae76e50-5b48-4166-9f6d-67aaabd7bcaa,"{'userSurveyRating': 5.0, 'wizardSurveyTaskSuc..."
4,U21E41CQP,"[{'text': 'Hello, I am looking to book a trip ...",U21DMV0KA,24603086-bb53-431e-a0d8-1dcc63518ba9,"{'userSurveyRating': 5.0, 'wizardSurveyTaskSuc..."

In [14]:
df.shape

(1369, 5)

In [5]:
one_convo = df['turns'][0]

In [17]:
import pickle

convo_list = []


for conv in np.arange(0,1369):
    
    one_convo = df['turns'][conv]

    for t in np.arange(0,len(one_convo)):

        convo_list.append(one_convo[t]['text'])
    
    
#print(convo_list)

with open('frames_list.pkl', 'wb') as f:
    pickle.dump(convo_list, f)